<div class="container-fluid" id="main-div">
  <h2>¡Bienvenido a Tamangamandapio!</h2>
  <div id="inner-div">

    <h3>Disfruta de la mayor y mejor variedad de comics, sumérgete en increíbles historias con todos tus personajes favoritos.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quam eaque iusto laboriosam, officia accusamus quidem voluptates deleniti itaque praesentium corrupti fugit, repudiandae error. Sunt, eum. Ad aut voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quos neque voluptatem, animi accusamus corporis dolorem eaque. Deleniti voluptate id veniam eveniet, officiis, blanditiis aspernatur est aut nostrum, quis ducimus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatibus quos hic possimus, veniam error commodi dignissimos praesentium nostrum earum quidem eligendi! Nemo soluta nesciunt odio vitae dolor corporis tempora!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet sequi perferendis blanditiis, nobis rem consequuntur expedita perspiciatis ipsa similique quibusdam vero voluptatum nemo numquam, amet cum suscipit tempore distinctio nulla.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio dicta dignissimos culpa natus, doloribus in explicabo omnis laborum architecto vero praesentium quam, repellat placeat quia? Ut qui temporibus iste eos!
    </p>
  </div>
</div>

