<div class="container">
  <br>
  <div class="row text-center">
    <h3>Valida tu email</h3>
  </div>
  <form>
    <div class="form-group">
      <label for="correoEmail">Correo electrónico</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Tu correo electrónico" #emailInput>
      <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico</small>
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-primary " (click)="sendEmail(emailInput.value)">Validar correo</button>
    </div>
  </form>
  <p *ngIf="validacionEmail.disposable==true">El email no es válido</p>
  <p *ngIf="validacionEmail.disposable==false">El email es válido</p>
</div>