<div class="container" id="inner-div">
  <br>
    <div class="row text-center">
      <h3>Envíanos tu comentario</h3>
    </div>
    <br><br>
    <form [formGroup] = "datosEmail" (ngSubmit)="sendCorreo(datosEmail.value)">
      <div class="form-group">
        
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <label for="correoElectronico">Correo Electrónico</label>
        <input type="email" class="form-control" name="correo" aria-describedby="emailHelp" placeholder="Tu correo electronico" formControlName="correo">
      </div>
      <div class="col-2"></div>
    </div>
      </div>
      <div class="form-group">
        
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" name="nombreCompleto" placeholder="Tu nombre completo" formControlName="nombreCompleto">
      </div>
      <div class="col-2"></div>
    </div>
      </div>
      <div class="form-group">
        
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <label for="comentarios">Comentarios</label>
        <textarea class="form-control" name="comentarios" rows="3" placeholder="Tus comentarios" formControlName="comentarios"></textarea>
      </div>
      <div class="col-2"></div>
    </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!datosEmail.valid">Enviar comentario</button>
    </form>
  </div>